{% load static %}
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-sm-10">
            <label>GitHub</label>
            <p>Website designed, developed by Lu Shengdong. Maintained by Lu Shengdong too. Thanks Sun Rui. Thanks Amazon EC2. Thanks Bootstrap!</p>
        </div>
    </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.js' %}" ></script>