<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include "head.html" %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <h1>Welcome!</h1>
                <p>This website is my personal exposition. It almost includes everything interesting from my study. <br/>Hope you will like it.</p>
                <p>Shengdong</p>
            </div>
        </div>
    </div>
</div>
{% verbatim %}
<div class="container square-panel">
    <div id="modules-panel" class="row">
        <div v-for="item in item_list" class="col-sm-3 square-container">
            <div class="square bg-theme-dark" @click="jumpover(item.link)">
                <h3>{{item.name}}</h3>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

{% include "footer.html" %}
<script src="{% static 'bundles/index.bundle.js' %}" ></script>
</body>
</html>